#modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 80%;
    border: 4px solid #4857B0;
    border-radius: 32px;
    box-shadow: 1px 1px 1px black;
    left: 15%;
    top: 15%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    width: 70%;
    height: 543.35px;
}

#modal-title{
    width: 100%;
    height:78px;
    background: #4857B0;
    border-radius: 30px 30px 0 0;
    text-align: center;
    padding-top: 17px;
}

#modal-title-txt{
    color: white;
    font-family: Rubik;
    font-style: normal;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
}

#modal-close-btn{
    width:86px;
    height:40px;
    background: #FFFFFF;
    border: 1px solid #FA0707;
    box-sizing: border-box;
    border-radius: 10px;
    float: right;
    color: #FA0707;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 6px;
    margin-right: 18px;
    cursor: pointer;
}

@media (max-width: 480px){
    #modal{
        height: 50%;
    }

    #modal-title{
        height: 30px;
        padding-top: 0px;
    }

    #modal-title-txt{
        font-size: 14px;
    }

    #modal-close-btn{
        display: none;
    }
}

