.landing {
  margin-top: 45px;
  text-align: center;
}

.landing-chatbot {
  border: 1px solid black;
  border-radius: 12px;
  padding: 20px;
  background-color: white;
  width: 300px;
  text-align: center;
  margin: 1px auto;
}
