#signup-btn{
    margin-right: 28px;
}

#header-avatar{
    width: 40px;
    background: black;
}

.header-welcome-text{
    margin-right: 28px;
    line-height: 25px;
    font-size: 20px;
}

@media (max-width: 767px){
    #signup-btn{
        margin: 20px auto 0 auto;
    }
    #signin-btn{
        margin: 10px auto 0 auto;
    }

    .header-welcome-text{
        display: none;
    }

    .header-logout-btn{
        margin-top: 20px;
    }
}