.modal-mentor{
    margin: 7% auto 5px 11%;
    border: 1px solid #4857B0;
    border-radius: 34px;
    cursor: pointer;
}

.modal-mentee{
    float: right;
    margin: 7% 11% 5px auto;
    border: 1px solid #4857B0;
    border-radius: 34px;
    cursor: pointer;
}

.modal-next-btn{
    text-align: center;
    margin-top: 4%;
    padding: 2px;
}